
#hero {
    background-image: url("../images-carousel/hero.jpg");
    background-size: cover;
    background-position: center 20%;
    padding: 100px 0px 100px;
    border-top: 22px solid darkslategrey;
    border-bottom: 22px solid darkslategrey;
}
#portfolio #hero {
    background-image: url("../img/hero1.jpg");
}
#hero h1, #hero2 h2 {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 0px 0px 30px #000;
}
#boxes .col-sm-6 {
    padding: 20px 0px;
    color: #666;
}
.navbar {
    margin-bottom: 0px;
}
#boxes i {
    padding: 20px 0px 20px;
    color: #479C48;
}
#hero2 {
    background-image: url("../img/hero2.jpg");
    background-size: cover;
    background-position: center center;
    padding: 100px 0px 100px;
}
#footer {
    background: darkslategrey;
    color: white;
    padding: 50px 0px;
}

.title{
    margin: 40px 0;
}

.title-text{
    text-align: center;
    color: #735a4f;
    font-size: 40px;
    text-transform: uppercase;
}

.title-underline{
    width: 200px;
    border: 3px solid #0c5453;
    margin: 0 auto;
}

#services{
    min-height: 100vh;
    background-color: #DCDCDC;
    padding: 20px 0 80px 0;
}

.services-container{
    max-width: 90vw;
    margin: 0 auto;
    color:#e0e2db;
}

.service-item{
    overflow: hidden;
    position: relative;
    padding: 60px;
}

.service-item .fa{
    font-size: 60px;
    margin-bottom: 30px;
    color:#0c5453;
}

.service-item-black{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
}

.service-item-white{
    background: linear-gradient(rgba(206,208,206,0.6),rgba(206,208,206,0.6));
    color: #191716;
}

.front-text{
    text-align: center;
    transition: transform 2s;
}

.back-text{
    position: absolute;
    bottom: -15em;
    width: 75%;
    margin: 0 auto;
    height: 100%;
    transition: bottom 2s;
    padding: 30px 0;
}

.back-text h1{
    margin-bottom: 20px;
}

.back-text button{
    margin-top: 20px;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #e6af2e;
    font-size: 20px;
    color:#e6af2e;
}

.back-text button:hover{
    background-color: #e6af2e;
    color: #191716;
}

.service-item:hover .front-text{
    transform: translateY(-200px);
}

.service-item:hover .back-text{
    bottom: 0;
}

@media screen and (min-width:776px) {
    .services-container {
        display: grid; 
        grid-template-columns: 1fr 1fr;
    }
    .services-container .service-item:nth-of-type(1){
        order: 1;
    }
     .services-container .service-item:nth-of-type(2){
        order: 2;
    }
     .services-container .service-item:nth-of-type(3){
        order: 4;
    }
     .services-container .service-item:nth-of-type(4){
        order: 3;
    }
}

#top-bar {
    background: darkslategrey;
    color: white;
    font-size: 12px;
    padding: 5px 0px;
}
#top-bar a {
    color: white;
}
#top-bar .social a i {
    transition: all 0.3s ease-in-out;
}
#top-bar .social a:hover i {
    transform: scale(2);
}
.btn-success, .main-btn {
    color: #008080;
    font-size: 2rem;
    border: 2px solid #c9c1ac;
    background: #c9c1ac;
    transition: all 1s ease-in-out;
    margin: 0 10px;
}

.btn-success, .main-btn:hover {
    color: #242424;
    border: 2px solid #c9c1ac;
    background: #c9c1ac;
}

.main{
    color: #FFFFFF;
}
.footer-social{
    font-size: 30px;
}
